.mgicons {
  position: static;
  width: 44px;
  height: 44px;
  margin: 15px;
  border-raduis: 50%;
  diplay: block;
  overflow: hidden;
  filter: contrast(150%);
  z-index: 5;
}

.Lmgicons {
  position: static;
  width: 62px;
  height: 62px;
  margin: 10px;
  border-raduis: 50%;
  diplay: block;
  overflow: hidden;
  filter: contrast(150%);
  z-index: 5;
}

.smgicons {
  position: static;
  width: 22px;
  height: 22px;
  margin: 2px;
  border-raduis: 50%;
  diplay: block;
  overflow: hidden;
  filter: contrast(150%);
  z-index: 5;
}

.sclose {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/close.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.close {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/close.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lclose {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/close.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.scoolsmile {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/coolsmile.gif");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.coolsmile {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/coolsmile.gif");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lcoolsmile {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/coolsmile.gif");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.shome {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/home.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.homeicon {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/home.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.home {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/home.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lhome {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/home.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.sloading {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/loading.gif");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.loading {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/loading.gif");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lloading {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/loading.gif");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.specialloading {
  position: fixed;
  display: block;
  border-style: none;
  width: 100%;
  height: 85%;
  background-image: url("https://ipack.glitch.me/loading.gif");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.sogsmile {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/ogsmile.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.ogsmile {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/ogsmile.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Logsmile {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/ogsmile.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.squestion {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/question.webp");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.questionicon {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/question.webp");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.question {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/question.webp");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lquestion {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/question.webp");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.seasteregg {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/easteregg.gif");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.easteregg {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/easteregg.gif");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Leasteregg {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/easteregg.gif");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.XLeasteregg {
  display: block;
  border-style: none;
  width: 250px;
  height: 250px;
  background-image: url("https://ipack.glitch.me/easteregg.gif");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.ssun {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/sun.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}
.sun {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/sun.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lsun {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/sun.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.smda {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/MDA.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.smda {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/MDA.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lmda {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/MDA.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.smindsgaming {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/MindsGaming.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.mindsgaming {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/MindsGaming.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lmindsgaming {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/MindsGaming.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.sbrowser {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/browser.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.browser {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/browser.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lbrowser {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/browser.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.sminds {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/minds.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.minds {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/minds.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lminds {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/minds.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.sbulb {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/bulb.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.bulb {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/minds.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lbulb {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/bulb.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.scalc {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/calc.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.calc {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/calc.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lcalc {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/calc.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.sclock {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/clock.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}
.clock {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/clock.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lclock {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/clock.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.shandbook {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/handbook.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.handbook {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/handbook.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lhandbook {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/handbook.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.shelp {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/help.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.help {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/help.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lhelp {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/help.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.srefresh {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/refresh.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}
.refresh {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/refresh.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}
.Lrefresh {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/refresh.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.smenu {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/menu.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.menu {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/menu.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lmenu {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/menu.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.sterminal {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/terminal.webp");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.terminal {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/terminal.webp");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lterminal {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/terminal.webp");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.specialterminal {
  display: block;
  border-style: none;
  width: 42px;
  height: 32px;
  background-image: url("https://ipack.glitch.me/terminal.webp");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.scode {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/code.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.code {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/code.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lcode {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/code.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.sinstall {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/install.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.install {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/install.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Linstall {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/install.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.stime {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/time.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.time {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/time.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Ltime {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/time.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.sgear {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/gear.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.gear {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/gear.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lgear {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/gear.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.smessenger {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/messenger.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.messenger {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/messenger.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lmessenger {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/messenger.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.sapp {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/app.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.app {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/app.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lapp {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/app.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.splay {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/play.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.play {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/play.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lplay {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/play.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.scart {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/cart.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.cart {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/cart.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lcart {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/cart.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.sphoto {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/photo.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.photo {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/photo.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lphoto {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/photo.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.sheart {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/heart.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.heart {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/heart.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lheart {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/heart.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.smgda {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/MDA.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.mgda {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://ipack.glitch.me/MDA.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lmgda {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://ipack.glitch.me/MDA.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.XLmgda {
  display: block;
  border-style: none;
  width: 264px;
  height: 264px;
  background-image: url("https://ipack.glitch.me/MDA.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.sfolder {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://mgda.glitch.me/folder.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.folder {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://mgda.glitch.me/folder.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lfolder {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://mgda.glitch.me/folder.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.snotepad {
  display: block;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://mgda.glitch.me/notepad.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.notepad {
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://mgda.glitch.me/notepad.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.Lnotepad {
  display: block;
  border-style: none;
  width: 64px;
  height: 64px;
  background-image: url("https://mgda.glitch.me/notepad.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.XLtty {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  border-style: none;
  width: 100%px;
  height: 100%;
  background-image: url("https://mgda.glitch.me/tty.gif");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}
