body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
  background-color: #f0e6ff;
  background-image: url("https://mgda.glitch.me/backdrop.jpg");
  height: 950px;
}

.lightmode {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
  background-color: #f0e6ff;
  background-image: url("https://mgda.glitch.me/matrix.gif");
  height: 950px;
}

.tty {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
  background-color: #f0e6ff;
  background-image: url("https://mgda.glitch.me/tty.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-style: italic;
  color: green;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
  margin-top: 125px;
}

textarea {
  font-align: center;
}

p {
  color: white;
  width: 295px;
}
b {
  color: white;
  bold: bolder;
}
p.intro {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  max-width: 600px;
  color: white;
}

p.blog {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  float: left;
  width: 100%;
  border-stlye: inline;
  color: white;
  margin-bottom: 10px;
  background-color: #f0e6ff;
}

textarea {
  rows: 1;
  cols: 50;
  text-align: center;
}

.myicons {
  display: block;
  width: 98.4%;
  height: 600px;
  background-color: transparent;
  border-style: solid;
  border-color: transparent;
  overflow: auto;
  z-index: 1;
}

.iconcode {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50.9rem;
  display: none;
  border-style: none;
  overflow: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  z-index: 2;
  background-color: grey;
}

.legend {
  position: static;
  width: 82px;
  height: 82px;
  float: left;
  margin: 5%;
  margin-left: 10%;
  z-index: 1;
}

.scrollicons {
  clear: both;
  float: left;
  margin-top: -24px;
}

.spacer {
  position: fixed;
  display: block;
  width: 10px;
  hieght: 85px;
  background-color: transparent;
}

.iframe {
  position: static;
  width: 98%;
  height: 50.8rem;
  left: 0;
  margin-top: -5px;
}

.aframe {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-heigth: 1200px;
  width: 100%;
  height: 100%;
  border-style: none;
  border-color: hidden;
  overflow: hidden;
}

.toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 42px;
  display: block;
  border-style: none;
  background-color: #4d4d4d;
  z-index: 2;
}

.toolmenu {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 2.6rem;
  width: 5.6rem;
  height: 400px;
  display: none;
  border-style: none;
  overflow: hidden;
  z-index: 2;
  background-color: grey;
}

.terminalmenu {
  position: fixed;
  bottom: 0;
  top: 0;
  margin-bottom: 2.6rem;
  width: 100%;
  height: 40rem;
  display: none;
  border-style: none;
  overflow: hidden;
  z-index: 2;
  background-color: transparent;
}

.footer {
  position: fixed;
  display: block;
  bottom: 0;
  right: 0;
  margin: 15px;
  border-style: none;
  width: 24px;
  height: 24px;
  background-image: url("https://ipack.glitch.me/MindsGaming.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}

.systemclock {
  color: white;
  background-color: grey;
  background-image: url("https://mgda.glitch.me/matrix.gif");
  font-size: 46px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 80%;
  max-width: 100%;
  height: 95px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: 10%;
  margin-top: 2%;
  border-style: inset;
  z-index: 3;
}

.marquee {
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 150px;
  behavior: scroll;
  direction: left;
  color: white;
  font-size: 50px;
  z-index: 6;
  background-image: url("https://mgda.glitch.me/matrix.gif");
}

.marqueetop {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 150px;
  behavior: scroll;
  direction: left;
  color: white;
  font-size: 50px;
  z-index: 6;
  background-image: url("https://mgda.glitch.me/matrix.gif");
}

.customspacer {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 31.2%;
  height: 100%px;
  behavior: scroll;
  direction: left;
  color: white;
  font-size: 50px;
  z-index: 16;
  background-image: url("https://mgda.glitch.me/matrix.gif");
}

.customspacer2 {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 31.2%;
  height: 100%;
  behavior: scroll;
  direction: left;
  color: white;
  font-size: 50px;
  z-index: 16;
  background-image: url("https://mgda.glitch.me/matrix.gif");
}

video {
  autoplay: off;
}
