.page-meat {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#output h4 {
  visibility: hidden;
}

#output {
  width: 285px;
  max-height: 150px;
  font-size: 1.2em;
  margin: 0 0 10px 0;
  overflow: hidden;
  text-align: center;
  color: white;
  border-bottom: 8px solid white;
  flex-grow: 1;
}

#buttonpad {
  width: 210px;
  flex-grow: 1;
}

.row {
  margin: 7px 0 7px 0;
  width: 100%;
}

button {
  width: 50px;
  height: 50px;
  background-color: azure;
  color: darkcyan;
  border-radius: 5px;
  border: solid blue 1px;
  margin: 2px;
  box-shadow: 3px 2px 3px black;
  font-weight: bold;
  font-size: 1.1em;
  transition: all 0.3s ease;
  cursor: pointer;
}
.bigbutton {
  width: 200px;
}

button:hover {
  background-color: #42c5f4;
  box-shadow: none;
  color: white;
  border: solid blue 0px;
  transition: color, box-shadow, background-color 0.3s ease;
}

button:focus {
  outline: 0;
}

button:active {
  box-shadow: none;
}

#memory {
  position: relative;
  float: left;
  visibility: hidden;
  left: 25px;
  bottom: 75px;
}

.titlebox {
  bottom: 2vh;
  right: 5vw;
  color: azure;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-flow: column nowrap;
  flex-grow: 2;
}

.titlebox::after {
  font-family: FontAwesome;
  content: "\f2db \f2db \f2db \f2db";
  font-size: 7em;
  text-align: center;
}

.sidebox {
  left: 3vw;
  width: 15vw;
  bottom: 5vh;
  color: azure;
  flex-grow: 1;
}

@media only screen and (min-width: 1000px) {
  #output {
    width: 285px;
    max-height: 150px;
    font-size: 1.2em;
  }

  button {
    width: 50px;
    height: 50px;
  }
}
